/**
    Title: Hoffman-bobs-auto-repair.css
    Author: Lucas Hoffman
    Date: 12 September 2021
    Description: Styling for WEB 330 Assignment 5.2 hoffman-bobs-auto-repair.html file.
*/

/** Styling for cart-message. */
#cart-message {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
  }
  
  /** Styling for hovering over cart-message. */
  i:hover {
    cursor: pointer;
  }
