/*
Title: projects.css
Author: Lucas Hoffman
Date: 10/06/2021
Description: projects.css file for personal portfolio
*/

#projects-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 20px;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> 4fa8f3d93e75a6878f3c6e8b501b24a6ed4f4c03
