/**
    Title: hoffman-calorie.css
    Author: Lucas Hoffman
    Date: 09/04/2021
    Description: Styling for WEB 330 hoffman-calorie.html file.
    Link to GitHub repository: https://github.com/lucash0331/web-330
    Link to Github Landing page: https://lucash0331.github.io/web-330/
 */

  /** The styling for the foodList. */
  #foodList {
    float: left;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}